@import 'variaveis.less';

@mobile: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px) and (max-width: 1023px)";

body {
    background-color: @bgColor;
    color: @textColor;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media @mobile {
        max-width: 70%;
        background-color: red;
    }

    @media @tablet { 
        max-width: 80%;
        background-color: yellow;
    }
}