@import 'mapas.less';

@mobile: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px) and (max-width: 1023px)";

.mb-8 {
    margin-bottom: 8px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #colors[backgroundColor];
    color: #colors[textColor];
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media @mobile {
        max-width: 70%;
    }

    @media @tablet { 
        max-width: 80%;
    }
}

header {
    padding: 24px;

    .profile-avatar {

        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
    }
}

.profile-bio {
    text-align: center;

    &-name {
        font-size: 16px;
        .mb-8();
    }

    &-subtitle {
        font-size: 14px;
        .mb-8();
    }

    &-description {
        font-size: 14px;
        opacity: 0.7;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    li {
        list-style: none;

        img {
            transition: all ease .3s;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
}